@{
    ViewData["Title"] = PortalTextService.Get("Info_Shipping_HeroTitle");
}
<div class="relative h-64 overflow-hidden">
    <div class="absolute inset-0 z-0">
        <div class="absolute inset-0 bg-gradient-to-r from-black/70 to-black/30 z-10"></div>
        <div class="hero-image absolute inset-0 bg-cover bg-center" style="background-image: url('/images/place-holder.jpg');"></div>
    </div>
    <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 z-10">
        <h1 class="text-5xl md:text-6xl font-light text-white tracking-tight hero-title text-center" portal-text="Info_Shipping_HeroTitle"></h1>
    </div>
</div>
<section class="py-16 px-6 md:px-12 lg:px-24 bg-white relative z-10">
    <div class="max-w-3xl mx-auto text-gray-700 space-y-4">
        <p portal-text="Info_Shipping_Text1"></p>
        <p portal-text="Info_Shipping_Text2"></p>
    </div>
</section>
