@model Intranet.Models.PortalText
@{
    ViewData["Title"] = "Usuń tekst portalu";
}
<h1>@ViewData["Title"]</h1>
<h3>Czy na pewno chcesz usunąć ten wpis?</h3>
<div>
    <h4>@Model.Key</h4>
    <p>@Model.Value</p>
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Usuń</button>
        <a asp-action="Index" class="btn btn-secondary">Powrót</a>
    </form>
</div>
